/* styles.css */

/* Add styles here to customize the appearance of your app */
body{
  background:rgb(0 0 0/10%);
  app-region:drag;
  overflow: hidden;
}
.drag{
  app-region:drag;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
div{
}